.portada{
    background: radial-gradient(#428dff,#7da3fd);
    height: 50vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dates{
    margin-top: 30px;
}
.valentinesDay{
    margin-top: 30px;
}
.valentinesDay img{
    width: 300px;
    border-radius: 10%;
}
.descriptionDate, p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.col-7 button{
    width: 100px;
}